# Visual Studio
.vs/
*.user
*.suo
*.pdb
*.cache
*.tmp
*.log

# Build output
bin/
obj/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.userselect

# Rider
.idea/
*.sln.iml

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini